/* This is your CSS file */
/* Comments look like this. */

/* This ruleset defines the styling for the entire body of your HTML document. */
body {
    /* Change this background-color. */
    background-color: gray;
}

h1 {
    color: #fff; font-family: "Helvetica Neue", Arial, sans-serif;
}

h2 {
    color: #FFF; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   

header {
    color: aliceblue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
    color: aliceblue; font-style: italic;
}

#listtitle1{
    font-size: large; font-weight: bold;
}
#list1 {
    color: #000000; font-family: Arial, Helvetica, sans-serif;
}
#listtitle2{
    font-size: larger; font-weight: bolder;
}

#list2{
    color: #000001; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrc {
    background-color: black; color: aliceblue;
}

#topofscreen {
    background-color: black; color: aliceblue;
}
#topSection {
    background-color: rgb(255, 255, 0);
}

#bottomSection {
    background-color: aqua;
}